<html>
   <body>
      <form action = "http://localhost:5000/testing" method = "POST">
         <label for="name">Select animal type</label>
         <select name="animal" id="">
            <option value="broiler">Broiler</option>
            <option value="swine">Swine</option>
         </select>

         <label for="feed">Select feed type</label>
         <select name="feed_type" id="">
            <option value="layer1">Layer 1</option>
            <option value="layer2">Layer 2</option>
            <option value="layer3">Layer 3</option>
            <option value="2">Young</option>
            <option value="2">Adult</option>
         </select>
         <br/><br/>

         <label for="ingredients">Select ingredients</label><br/>
         <input name="maize "type="checkbox">Maize (Yellow) <br/>
         <input name="soya" type="checkbox">Soyabean meal <br/>
         <input name="fish" type="checkbox">Fish meal <br/>
         <input name="bone" type="checkbox">Bone meal <br/>

         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>